.about {
  padding-top: 17px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  &::before {
    content: "";
    display: block;
    height: 400px;
    /* stylelint-disable-next-line @stylistic/declaration-colon-newline-after */
    background-image: image-set(
      url("../../img/about/about-mobile@1x.webp") type("image/webp") 1x,
      url("../../img/about/about-mobile@2x.webp") type("image/webp") 2x,
      url("../../img/about/about-mobile@1x.jpg") type("image/jpg") 1x,
      url("../../img/about/about-mobile@2x.jpg") type("image/jpg") 2x
    );
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    gap: 0;
    padding-top: 77px;

    &::before {
      flex: 1 0 58%;
      align-self: center;
      margin-bottom: 39px;
      /* stylelint-disable-next-line @stylistic/declaration-colon-newline-after */
      background-image: image-set(
        url("../../img/about/about-tablet@1x.webp") type("image/webp") 1x,
        url("../../img/about/about-tablet@2x.webp") type("image/webp") 2x,
        url("../../img/about/about-tablet@1x.jpg") type("image/jpg") 1x,
        url("../../img/about/about-tablet@2x.jpg") type("image/jpg") 2x
      );
      background-repeat: no-repeat;
    }
  }
}

.about__images {
  margin-bottom: 16px;
}

.about__content {
  padding-left: 15px;
  padding-right: 15px;

  h2 {
    position: relative;
    font-weight: 800;
    font-size: 22px;
    line-height: 100%;
    color: $primary-color;
    margin: 0;
    margin-bottom: 42px;
  }

  h2::after {
    content: attr(data-title);
    display: inline-block;
    position: absolute;
    font-weight: 800;
    font-size: 26px;
    top: -16px;
    left: 0;
    line-height: 100%;
    color: #2d383f;
    opacity: 0.03;
  }

  h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: $primary-color;
    margin: 0;
    margin-bottom: 14px;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    line-height: 143%;
    color: $primary-color;
    margin: 0;
    margin-bottom: 26px;
  }

  @media (min-width: $tablet-width) {
    padding-left: 0;
    flex: 1 0 41%;

    h2 {
      font-size: 25px;
      margin-bottom: 47px;
    }

    h2::after {
      font-size: 40px;
    }

    h3 {
      font-size: 18px;
      margin-bottom: 12px;
    }

    p {
      font-size: 16px;
      width: 270px;
      line-height: 24px;
      margin-bottom: 28px;
    }
  }
}
