.advantages {
  padding-top: 36px;

  @media (min-width: $tablet-width) {
    padding-top: 85px;
    padding-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 135px;
    padding-left: 0;
    padding-right: 0;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 36px;
  text-align: center;

  &::before {
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 60px;

    &::before {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.advantages__carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  // grid-template-columns: 1fr;
  row-gap: 15px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.advantages__carousel .advantages__item {
  @media (min-width: $desktop-width) {
    width: 380px;
    max-width: 380px;
    min-height: 329px;
  }
}

.advantages__swiper {
  position: relative;
}

.advantages__carousel-control-panel {
  @media (min-width: $desktop-width) {
    left: 50%;
    bottom: -85px;
    transform: translateX(-50%);
  }
}
