.arrow-style-slider {
  display: flex;
  position: absolute;
  gap: 4px;
}

.arrow-style-slider__button {
  display: none;
  cursor: pointer;

  &::after {
    background-color: $white-color;
  }

  &:hover:not(:disabled) {
    border: 1px solid $active-color;
    background-color: $white-color;

    &::after {
      background-color: $active-color;
    }
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible {
    background-color: $white-color;
    outline: none;

    &::after {
      background-color: $active-color;
    }
  }

  &:active:not(:disabled) {
    background-color: $active-color;

    &::after {
      background-color: $white-color;
    }
  }

  @media (min-width: $tablet-width) {
    border: none;
    background-color: $additional-color;
    width: 37px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;

    &::after {
      content: "";
      display: block;
      width: 13px;
      height: 7px;
      background-size: 13px 13px;
      background-position-y: -3px;
    }
  }
}

.arrow-style-slider__button--next {
  &::after {
    mask-image: url("../../__spritemap#sprite-arrow-right-view");
  }
}

.arrow-style-slider__button--prev {
  &::after {
    mask-image: url("../../__spritemap#sprite-arrow-left-view");
  }
}

.arrow-style-slider__button--disabled {
  background-color: $disabled-color;
}
