.button {
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  justify-content: center;
  transition: 0.3s;

  &--main {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: $white-color;
    padding: 20px 10px;
    padding-top: 21px;
    padding-bottom: 17px;
    background: $additional-color;
    border: 1px solid $additional-color;

    &:hover {
      border: 1px solid $active-color;
      background-color: $white-color;
      color: $active-color;
      transition: 0.3s;
    }

    &:focus,
    &:focus-visible {
      outline: none;
    }

    &:focus-visible {
      border: 1px solid $white-color;
      background: $white-color;
      color: $active-color;
    }

    &:active {
      color: $white-color;
      background: $active-color;
    }

    &:disabled {
      color: $white-color;
      background: $disabled-color;
      pointer-events: none;
      border: 1px solid $disabled-color;
    }
  }

  &--disabled {
    color: $white-color;
    background: $disabled-color;
    pointer-events: none;
    border: 1px solid $disabled-color;
  }
}

.button--more {
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $primary-color;
  width: fit-content;
  margin: 0 auto;
  padding-right: 20px;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 9px;
    height: 14px;
    mask-image: url("/__spritemap#sprite-right-view");
    top: 0;
    right: -2px;
    background-color: $primary-color;
    transition: 0.3s;
  }

  &:hover {
    color: $additional-color-opacity-20;

    &::after {
      background-color: $additional-color-opacity-20;
    }
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible {
    color: $additional-color;

    &::after {
      background-color: $additional-color;
    }
  }

  &:active {
    color: $active-color;

    &::after {
      background-color: $active-color;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }
}

.button--more.button--disabled {
  color: $disabled-color;
  pointer-events: none;
  background-color: transparent;
  border: none;

  &::after {
    background-color: $disabled-color;
  }
}
