.card-reviews {
  box-shadow: 0 0 20px 0 rgba(28, 51, 116, 0.1);
  border: 1px solid $white-color;
  padding: 20px;
  background-color: $white-color;
  width: 290px;
  padding-bottom: 14px;

  p {
    font-size: 12px;
    line-height: 150%;
    margin: 0;
  }

  p:first-child {
    margin-bottom: 10px;
    padding-right: 3px;
  }

  p:last-child {
    margin-bottom: 16px;
  }

  img {
    width: 250px;
  }

  @media (min-width: $tablet-width) {
    display: flex;
    gap: 30px;
    padding: 19px;
    max-width: 565px;
    width: unset;
    padding-top: 20px;

    p:last-child {
      margin-bottom: 26px;
    }

    img {
      width: unset;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 700px;

    p {
      font-size: 14px;
      line-height: 22px;
    }

    p:last-child {
      margin-bottom: 4px;
    }
  }
}

.card-reviews__image {
  margin-bottom: 19px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    img {
      width: 186px;
    }
  }

  @media (min-width: $desktop-width) {
    img {
      width: 257px;
    }
  }
}

.card-reviews__author-title {
  font-weight: 700;
  font-size: 12px;
  line-height: 100%;
  margin: 0;
  margin-bottom: 3px;

  @media (min-width: $tablet-width) {
    font-size: 13px;
    margin-bottom: 1px;
  }
}

.card-reviews__author-add-info {
  font-weight: 300;
  font-size: 12px;
  line-height: 100%;
}

.card-reviews__content {
  @media (min-width: $tablet-width) {
    padding-top: 4px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}
