.contacts-list {
  @include list-style-none;

  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    margin-top: 40px;
    gap: 40px;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    margin-top: 50px;
    gap: 36px;
  }
}

.contacts-list__item {
  padding-left: 32px;
  background-size: 22px 22px;
  background-repeat: no-repeat;

  &--tel {
    background-image: url("../../__spritemap#sprite-phone-view");
  }

  &--mail {
    background-image: url("../../__spritemap#sprite-mail-view");
  }

  &--address {
    background-image: url("../../__spritemap#sprite-point-footer-view");
  }

  @media (min-width: $tablet-width) {
    padding-left: 34px;
    background-size: 25px 23px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 56px;
    background-position: top 12px left;
    background-size: 27px 25px;
  }
}

.contacts-list__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    margin-bottom: 11px;
  }
}

.contacts-list__info {
  font-size: 14px;
  line-height: 143%;
  text-decoration: none;
  color: inherit;

  &:hover:not(.contacts-list__info--disabled)[href] {
    opacity: 0.6;
  }

  &--disabled[href] {
    opacity: 0.3;
    pointer-events: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 22px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
  }
}
