.form {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @media (min-width: $tablet-width) {
    gap: 11px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    gap: 30px;
  }
}

.form__item {
  position: relative;

  @media (min-width: $desktop-width) {
    width: 360px;
  }
}

.form__input {
  padding: 16px;
  width: 100%;
  border: 1px solid $additional-color-opacity-20;
  border-radius: 2px;

  &::placeholder {
    opacity: 0;
    color: $additional-color;
  }

  &:hover {
    border: 1px solid $additional-color;
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible {
    border: 1px solid #2d383f;
  }

  &:focus-visible::placeholder {
    opacity: 1;
  }

  &:disabled {
    border: 1px solid #999999;
  }

  &--error {
    border: 1px solid #ff121f;
  }

  @media (min-width: $tablet-width) {
    padding: 19px 16px;
  }
}

.form__label {
  position: absolute;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: $primary-color;
  opacity: 0.5;
  top: 17px;
  left: 15px;

  @media (min-width: $tablet-width) {
    top: 22px;
    left: 30px;
  }

  @media (min-width: $desktop-width) {
    top: 20px;
  }
}

.form__button {
  padding-bottom: 21px;

  @media (min-width: $desktop-width) {
    width: 180px;
    padding-bottom: 19px;
  }
}

.form__input:focus-visible + .form__label,
.form__input:not(:placeholder-shown) + .form__label {
  opacity: 0;
}

.form__input:disabled + .form__label {
  color: #999999;
}
