.form-block {
  padding: 174px 31px;
  text-align: center;

  // color: $white-color;

  h2 {
    font-weight: 800;
    font-size: 22px;
    line-height: 100%;
    margin: 0;
  }

  p {
    font-size: 12px;
    line-height: 150%;
    margin: 0;
  }
}
