.gallery__title {
  margin: 0;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 24px;
  }
}

.gallery__carousel {
  position: relative;
}

.gallery__carousel-control-panel {
  top: -56px;
  right: 44px;

  @media (min-width: $tablet-width) {
    top: -55px;
    right: 45px;
  }
}

.gallery {
  padding-top: 57px;

  p {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    margin: 0;
    margin-bottom: 31px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 60px;

    p {
      max-width: 420px;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 20px;
    }

    img {
      height: 418px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 123px;

    p {
      font-size: 16px;
      line-height: 150%;
      max-width: 600px;
      margin-bottom: 45px;

      br {
        display: none;
      }
    }

    img {
      height: 463px;
    }
  }
}

.gallery__carousel .gallery__wrapper {
  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: repeat(5, 284px);
    gap: 5px;
  }
}

.gallery__carousel .gallery__item {
  @media (min-width: $desktop-width) {
    width: 284px;

    img {
      width: 284px;
    }
  }
}
