.gallery__title {
  margin: 0;
  margin-bottom: 27px;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
  }
}

.gallery__carousel {
  position: relative;
}

.gallery__carousel-control-panel {
  position: absolute;
  top: -56px;
  right: 44px;
}

.gallery {
  padding-top: 57px;

  p {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    margin: 0;
    margin-bottom: 31px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 98px;

    p {
      max-width: 420px;
      font-size: 14px;
      line-height: 22px;
      margin-bottom: 20px;
    }

    img {
      height: 418px;
    }
  }
}
