.main-carousel__item {
  color: $white-color;
  background-color: $additional-color;
  position: relative;
  min-height: 568px;
  padding-bottom: 40px;

  img {
    position: absolute;
    height: 100%;
  }

  @media (min-width: $tablet-width) {
    min-height: 1034px;
  }

  @media (min-width: $desktop-width) {
    min-height: 801px;
  }
}

.main-carousel__container {
  @media (min-width: $desktop-width) {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
  }
}

.main-carousel__content p {
  margin: 0;
  font-weight: 400;
  font-size: 15px;
  line-height: 133%;

  br {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }

    @media (min-width: $desktop-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 141%;
  }

  @media (min-width: $desktop-width) {
    width: 470px;
  }
}

.main-carousel__content {
  position: relative;
  padding-top: 144px;
  text-align: center;

  h2 {
    font-weight: 800;
    font-size: 26px;
    line-height: 100%;
    margin: 0;
    margin-bottom: 15px;

    @media (min-width: $tablet-width) {
      font-size: 56px;
      margin-bottom: 14px;
    }

    @media (min-width: $desktop-width) {
      font-size: 77px;
      margin-bottom: 23px;
      padding-right: 72px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 342px;

    &--cards {
      padding-top: 137px;

      p {
        padding: 0 60px;
      }
    }
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    padding-top: 201px;

    &--cards {
      display: flex;

      h2 {
        width: 882px;
      }

      p {
        padding-left: 0;
        width: 550px;
      }
    }
  }
}

.main-carousel__button {
  margin: 0 auto;
  margin-top: 61px;
  width: 180px;

  @media (min-width: $tablet-width) {
    margin-top: 36px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-top: 36px;
  }
}

.main-carousel__group-info {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    gap: 10px;
    margin-top: 134px;
    flex-wrap: wrap;
    max-width: 600px;
  }
}

.main-carousel__info-item {
  @media (min-width: $desktop-width) {
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    padding: 14px 20px 12px 39px;
    border: 1px solid $white-color-opacity-50;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 15px;
      height: 12px;
      top: 50%;
      transform: translateY(-50%);
      left: 15px;
      background-size: 20px;
      background-repeat: no-repeat;
    }

    &--duration {
      &::before {
        background-image: url("../../__spritemap#sprite-moon-view");
      }
    }

    &--difficulty {
      &::before {
        background-image: url("../../__spritemap#sprite-level-view");
      }
    }
  }
}

.main-carousel .main-carousel__pagination {
  --swiper-pagination-bottom: 40px;

  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  padding-right: 50px;
  padding-left: 50px;

  @media (min-width: $desktop-width) {
    justify-content: end;
    position: absolute;
    max-width: 300px;
    margin-left: auto;
    right: 0;
    padding-right: 0;

    --swiper-pagination-bottom: 92px;
  }
}

.main-carousel__dots {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid $white-color;
  display: inline-block;
  cursor: pointer;

  &:hover:not(:disabled) {
    border: 1px solid $white-color;
    background: #d9d9d9;
  }

  &:focus,
  &:focus-visible {
    outline: none;
  }

  &:focus-visible {
    outline: 1px solid hsla(0, 0%, 100%, 0.5);
    outline-offset: 2px;
  }

  &:active:not(:disabled) {
    border: 1px solid $white-color;
    background: hsla(0, 0%, 100%, 0.5);
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }

  &--active {
    background-color: $white-color;
  }

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
  }
}

.main-carousel__cards {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 442px;
    height: 365px;
    margin: 0 auto;
    margin-top: 45px;

    img {
      width: unset;
      height: unset;
    }
  }

  @media (min-width: $desktop-width) {
    width: 410px;
    height: 459px;
    margin-top: -14px;
    margin-left: -92px;
  }
}
