.reviews {
  padding-top: 31px;

  @media (min-width: $tablet-width) {
    padding-top: 73px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 215px;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 22px;
  }
}

.reviews__carousel {
  position: relative;
}

.reviews__carousel-control-panel {
  @media (min-width: $tablet-width) {
    top: -47px;
    right: 45px;
  }

  @media (min-width: $desktop-width) {
    top: -58px;
    right: 120px;
  }
}

.reviews__carousel .reviews__slider {
  padding: 5px 15px 2px;

  @media (min-width: $tablet-width) {
    padding: 14px 45px;
    width: unset;
  }

  @media (min-width: $desktop-width) {
    padding: 14px 130px;
  }
}

.reviews__carousel .reviews__item {
  @media (min-width: $tablet-width) {
    width: 83%;
  }

  @media (min-width: $desktop-width) {
    width: 67%;
  }
}
