.reviews {
  padding-top: 31px;
}

.reviews__title {
  margin: 0;
  margin-bottom: 30px;
}

.reviews__carousel {
  position: relative;
}

.reviews__carousel-control-panel {
  position: absolute;
  top: -54px;
}
