.reviews {
  padding-top: 31px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 27px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 145px;
    padding-bottom: 75px;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 22px;
  }
}

.reviews__carousel {
  position: relative;
}

.reviews__carousel-control-panel {
  @media (min-width: $tablet-width) {
    top: -44px;
    right: 45px;
  }

  @media (min-width: $desktop-width) {
    top: -55px;
    right: 120px;
  }
}

.reviews__carousel .reviews__slider {
  padding: 5px 15px 2px;

  @media (min-width: $tablet-width) {
    padding: 14px 45px;
    width: unset;
  }

  @media (min-width: $desktop-width) {
    padding: 14px 130px;
  }
}

.reviews__carousel .reviews__item {
  @media (min-width: $tablet-width) {
    width: unset;
  }
}

.reviews__carousel .reviews__wrapper {
  @media (min-width: $tablet-width) {
    width: unset;
  }
}
