.title-main {
  font-weight: 800;
  font-size: 22px;
  line-height: 100%;
  color: $primary-color;
  position: relative;

  &::before {
    content: attr(data-title);
    display: inline-block;
    position: absolute;
    font-weight: 800;
    font-size: 26px;
    bottom: 10px;
    line-height: 100%;
    color: $primary-color;
    opacity: 0.03;

    @media (min-width: $tablet-width) {
      font-size: 40px;
      bottom: 0;
    }

    @media (min-width: $desktop-width) {
      font-size: 55px;
    }
  }

  @media (min-width: $tablet-width) {
    font-size: 25px;
    max-width: 500px;
  }

  @media (min-width: $desktop-width) {
    font-size: 35px;
  }
}
