.tours {
  padding-top: 39px;
  padding-bottom: 30px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 49px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 123px;
    padding-bottom: 110px;
  }
}

.tours__title {
  margin: 0;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 35px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 50px;
  }
}

.tours__carousel {
  margin-bottom: 35px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 63px;
  }
}

.tours__carousel-control-panel {
  @media (min-width: $tablet-width) {
    top: -60px;
    right: 0;
  }

  @media (min-width: $desktop-width) {
    top: -89px;
  }
}
