// fonts

$primary-font: "Montserrat", "Arial", sans-serif;

// container-width

$tablet-width: 768px;
$desktop-width: 1440px;

// colors

$primary-color: #2d383f;
$primary-color-opacity-30: rgba(45, 56, 63, 0.3);
$primary-color-opacity-20: rgba(45, 56, 63, 0.2);
$error-color: #ff121f;
$active-color: #1c3374;
$stroke-br-color: rgba(45, 56, 63, 0.2);
$disabled-color: #999999;
$white-color: #ffffff;
$white-color-opacity-20: rgba(255, 255, 255, 0.2);
$white-color-opacity-50: rgba(255, 255, 255, 0.5);
$white-color-opacity-10: rgba(255, 255, 255, 0.1);
$additional-color: #0266c1;
$additional-color-opacity-20: rgba(2, 102, 193, 0.2);
$additional-color-opacity-10: rgba(2, 102, 193, 0.1);
$overlay-color-opacity-50: rgba(0, 0, 0, 0.5);
$dark-color: #030a1a;
